body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}
a{
    text-decoration: none;
}
div.autoriz{
 position: absolute;
    top:30%;
    left: 50%;
    margin-left: -150px;
    padding: 30px 30px 20px 30px;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(1,1,1,0.5);
    box-shadow: 1px 2px 5px 1px rgba(1,1,1,0.5);
    background: #D5D5E8;
}
div.autoriz input{
    margin: 0px;
    padding: 5px 10px;
    border: 0px;

    font-size: 14px;
    outline: none;
    margin-bottom: 10px;

}
input.login,input.password{
    -webkit-box-shadow:inset -2px -3px 5px 1px rgba(1,1,1,0.2);
    box-shadow:inset -2px -3px 5px 1px rgba(1,1,1,0.2);
    display: block;
}
input.button1{
    background: #7db9e8;
    color: #ccc;
}
div.box{
    white-space: nowrap;
}
div.box a,div.box input{
   display: inline-block;*zoom:1;
    vertical-align: middle;
    margin: 5px 10px;
}
div.box a{
    color: #000;

}
div.user_box,div.output_box{
    display: inline-block;
    vertical-align: top;
}

div.center{
    width: 980px;
    padding: 20px 10px;
    margin: 0px auto auto;

}
div.user_box{
    width: 250px;
}
div.output_box{
    width: 580px;
}

ul li{
    list-style: none;
}
div.group a.gr{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
div.group a{
    margin-bottom: 9px;
    display: inline-block;
    vertical-align: middle;
}

div.group ul{
    padding: 0px;
}
div.group ul li{
    padding: 4px 0px;
}
div.group ul li a:hover{
    text-decoration: underline;
}
div.group ul li.offline a{
    font-size: 14px;
    font-weight: 300;
    color: #666;
    padding:0px 10px;
}

div.group ul li.online a{
    font-size: 14px;
    font-weight: 300;
    color: #000;
    padding:0px 10px;
}
div.group ul li a span{
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 7px 0px 7px;
}
div.group ul li.online a{
    vertical-align: middle;
}
div.group ul li.online a span{
    background: green;
}
div.group ul li.offline a span{
    background: gray;
}


div.open{
    background: url("../images/expand_minus.gif")no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -12px;
}
div.open.closed{
    background: url("../images/expand_plus.gif")no-repeat;
}

/*ul.groups {
    opacity: 1;
    filter: alpha(opacity=100);
   -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
ul.groups.hide {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    webkit-transform: translateY(-100%) scale(0);
      transform:translateY(-100%)  scaleY(0);
 }*/

.slide-up, .slide-down {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.slide-down {
    max-height: 10em;
}






















